<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Events by VeloKofi" />
    <meta name="author" content="manjax@velokofi.com" />
    <title>Hungry Velos 2.0: VeloKofi Events</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/litepicker/dist/css/litepicker.css" rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.png" />
    <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" crossorigin="anonymous"></script>
</head>
<body class="nav-fixed sidenav-toggled">

<div th:replace="topbar :: topbar"></div>

<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <main>
            <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
                <div class="container-xl px-4">
                    <div class="page-header-content pt-4">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-auto mt-4">
                                <h1 class="page-header-title">
                                    <div class="page-header-icon"><i data-feather="activity"></i></div>
                                    Hungry Velos 2.0
                                </h1>
                                <div class="page-header-subtitle">A six week long challenge starting from
                                    <b>00:00 on 08 Jan 2022 </b> and ending on
                                    <b>23:59 on 18 Feb 2022</b> to encourage the cyclist in all of us!</div>
                            </div>
                            <nav class="mt-4 rounded" aria-label="breadcrumb">
                                <ol class="breadcrumb px-3 py-2 rounded mb-0">
                                    <li class="breadcrumb-item">Home</li>
                                    <li class="breadcrumb-item active">Hungry Velos 2.0</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main page content-->
            <div class="container-xl px-4 mt-n10">
                <!-- Example Colored Cards for Dashboard Demo-->
                <div class="row">
                    <div class="col-lg-6 col-xl-2 mb-4">
                        <div class="card bg-secondary text-white h-100">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="me-3">
                                        <div class="text-white-75 small">Distance</div>
                                        <div class="text-lg fw-bold" th:text="${leaderBoard.totalDistance} + ' kms'"></div>
                                    </div>
                                    <i class="feather-xl text-white-50" data-feather="info"></i>
                                </div>
                            </div>
                            <div class="card-footer d-flex align-items-center justify-content-between small">
                                <a class="text-white stretched-link" href="#individualSummary">Details</a>
                                <div class="text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-2 mb-4">
                        <div class="card bg-warning text-white h-100">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="me-3">
                                        <div class="text-white-75 small">Elevation Gain</div>
                                        <div class="text-lg fw-bold" th:text="${leaderBoard.totalElevation} + 'mts'"></div>
                                    </div>
                                    <i class="feather-xl text-white-50" data-feather="arrow-up"></i>
                                </div>
                            </div>
                            <div class="card-footer d-flex align-items-center justify-content-between small">
                                <a class="text-white stretched-link" href="#individualSummary">Details</a>
                                <div class="text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-2 mb-4">
                        <div class="card bg-success text-white h-100">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="me-3">
                                        <div class="text-white-75 small">Rides</div>
                                        <div class="text-lg fw-bold" th:text="${leaderBoard.totalRides}"></div>
                                    </div>
                                    <i class="feather-xl text-white-50" data-feather="check-square"></i>
                                </div>
                            </div>
                            <div class="card-footer d-flex align-items-center justify-content-between small">
                                <a class="text-white stretched-link" href="#individualSummary">Details</a>
                                <div class="text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-2 mb-4">
                        <div class="card bg-danger text-white h-100">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="me-3">
                                        <div class="text-white-75 small">Moving Time</div>
                                        <div class="text-lg fw-bold" th:text="${leaderBoard.movingTimeInHumanReadableFormat}"></div>
                                    </div>
                                    <i class="feather-xl text-white-50" data-feather="calendar"></i>
                                </div>
                            </div>
                            <div class="card-footer d-flex align-items-center justify-content-between small">
                                <a class="text-white stretched-link" href="#individualSummary">Details</a>
                                <div class="text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-2 mb-4">
                        <div class="card bg-dark text-white h-100">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="me-3">
                                        <div class="text-white-75 small">Rider Average</div>
                                        <div class="text-lg fw-bold" th:text="${leaderBoard.riderAverage} + ' kms'"></div>
                                    </div>
                                    <i class="feather-xl text-white-50" data-feather="octagon"></i>
                                </div>
                            </div>
                            <div class="card-footer d-flex align-items-center justify-content-between small">
                                <a class="text-white stretched-link" href="#individualSummary">Details</a>
                                <div class="text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-2 mb-4">
                        <div class="card bg-info text-white h-100">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="me-3">
                                        <div class="text-white-75 small">Riders</div>
                                        <div class="text-lg fw-bold" th:text="${leaderBoard.riderCount}"></div>
                                    </div>
                                    <i class="feather-xl text-white-50" data-feather="user"></i>
                                </div>
                            </div>
                            <div class="card-footer d-flex align-items-center justify-content-between small">
                                <a class="text-white stretched-link" href="#individualSummary">Details</a>
                                <div class="text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Team Charts -->
                <div class="row">
                    <div class="col-xl-4 mb-4">
                        <div class="card card-header-actions h-100">
                            <div class="card-header">
                                Team Average Distance
                            </div>
                            <div class="card-body">
                                <div class="chart-bar">
                                    <canvas id="teamAvgDistanceChart" width="100%" height="30"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 mb-4">
                        <div class="card card-header-actions h-100">
                            <div class="card-header">
                                Team Average Elevation
                            </div>
                            <div class="card-body">
                                <div class="chart-bar">
                                    <canvas id="teamAvgElevationChart" width="100%" height="30"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 mb-4">
                        <div class="card card-header-actions h-100">
                            <div class="card-header">
                                Team Average Rides
                            </div>
                            <div class="card-body">
                                <div class="chart-bar">
                                    <canvas id="teamAvgRidesChart" width="100%" height="30"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Ms and Mr Alemaari -->
                <div class="row">
                    <div class="col-xl-6 mb-4">
                        <div class="card card-header-actions h-100">
                            <div class="card-header">
                                Ms. Alemaari
                            </div>
                            <div class="card-body">
                                <div class="chart-bar">
                                    <canvas id="msAlemaariChart" width="100%" height="30"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 mb-4">
                        <div class="card card-header-actions h-100">
                            <div class="card-header">
                                Mr. Alemaari
                            </div>
                            <div class="card-body">
                                <div class="chart-bar">
                                    <canvas id="mrAlemaariChart" width="100%" height="30"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Bettamma and Bettamma -->
                <div class="row">
                    <div class="col-xl-6 mb-4">
                        <div class="card card-header-actions h-100">
                            <div class="card-header">
                                Ms. Bettamma
                            </div>
                            <div class="card-body">
                                <div class="chart-bar">
                                    <canvas id="bettammaChart" width="100%" height="30"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 mb-4">
                        <div class="card card-header-actions h-100">
                            <div class="card-header">
                                Ms. Bettappa
                            </div>
                            <div class="card-body">
                                <div class="chart-bar">
                                    <canvas id="bettappaChart" width="100%" height="30"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Minchina Ota -->
                <div class="row">
                    <div class="col-xl-6 mb-4">
                        <div class="card card-header-actions h-100">
                            <div class="card-header">
                                Ms. Minchina Ota
                            </div>
                            <div class="card-body">
                                <div class="chart-bar">
                                    <canvas id="minchinaOtammaChart" width="100%" height="30"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 mb-4">
                        <div class="card card-header-actions h-100">
                            <div class="card-header">
                                Mr. Minchina Ota
                            </div>
                            <div class="card-body">
                                <div class="chart-bar">
                                    <canvas id="minchinaOtappaChart" width="100%" height="30"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Thulimagle and Thulimaga -->
                <div class="row">
                    <div class="col-xl-6 mb-4">
                        <div class="card card-header-actions h-100">
                            <div class="card-header">
                                Ms. Thulimagle
                            </div>
                            <div class="card-body">
                                <div class="chart-bar">
                                    <canvas id="msThuliMagaChart" width="100%" height="30"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 mb-4">
                        <div class="card card-header-actions h-100">
                            <div class="card-header">
                                Mr. Thulimaga
                            </div>
                            <div class="card-body">
                                <div class="chart-bar">
                                    <canvas id="mrThuliMagaChart" width="100%" height="30"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Individual summary table-->
                <div class="card mb-4" id="individualSummary">
                    <div class="card-header">Individual Summary</div>
                    <div class="card-body">
                        <table id="individualSummaryTable">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Distance</th>
                                    <th>Elevation</th>
                                    <th>Avg Speed</th>
                                    <th>Rides</th>
                                    <th>Team</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Name</th>
                                    <th>Distance</th>
                                    <th>Elevation</th>
                                    <th>Avg Speed</th>
                                    <th>Rides</th>
                                    <th>Team</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr th:each="athleteSummary: ${leaderBoard.athleteSummaries}">
                                    <td>
                                        <img width="30" height="25"
                                             th:src="${athleteSummary.gender == 'M' ? 'assets/img/undraw_profile.svg' : 'assets/img/undraw_profile_1.svg'}"/>
                                        <span th:text="${athleteSummary.name}">Name</span>
                                        <img width="25" height="25"
                                             th:if="${athleteSummary.captain}" src="assets/img/star.png"/>
                                    </td>
                                    <td><span th:text="${athleteSummary.distance}">Distance</span></td>
                                    <td><span th:text="${athleteSummary.elevation}">Elevation</span></td>
                                    <td><span th:text="${athleteSummary.avgSpeed}">Avg Speed</span></td>
                                    <td><span th:text="${athleteSummary.rides}">Rides</span></td>
                                    <td><span th:text="${athleteSummary.team}">Team</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Team summary table-->
                <div class="card mb-4" id="teamSummary">
                    <div class="card-header">Team Summary</div>
                    <div class="card-body">
                        <table id="teamSummaryTable">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Distance</th>
                                <th>Avg Distance</th>
                                <th>Elevation</th>
                                <th>Avg Elevation</th>
                                <th>Avg Speed</th>
                                <th>Rides</th>
                                <th>Avg Rides</th>
                                <th>Members</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Distance</th>
                                <th>Avg Distance</th>
                                <th>Elevation</th>
                                <th>Avg Elevation</th>
                                <th>Avg Speed</th>
                                <th>Rides</th>
                                <th>Avg Rides</th>
                                <th>Members</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr th:each="teamSummary: ${leaderBoard.teamSummaries}">
                                <td><span th:text="${teamSummary.name}">Name</span></td>
                                <td><span th:text="${teamSummary.distance}">Distance</span></td>
                                <td><span th:text="${teamSummary.avgDistance}">Avg Distance</span></td>
                                <td><span th:text="${teamSummary.elevation}">Elevation</span></td>
                                <td><span th:text="${teamSummary.avgElevation}">Avg Elevation</span></td>
                                <td><span th:text="${teamSummary.avgSpeed}">Avg Speed</span></td>
                                <td><span th:text="${teamSummary.rides}">Rides</span></td>
                                <td><span th:text="${teamSummary.avgRides}">Avg Rides</span></td>
                                <td><span th:text="${teamSummary.memberCount}">Members</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </main>
        <div th:replace="footer :: footer"></div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="js/datatables/datatables-simple-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/litepicker/dist/bundle.js" crossorigin="anonymous"></script>
<script src="js/litepicker.js"></script>

<script th:inline="javascript">
    random_rgba = function() {
        var num = Math.round(0xffffff * Math.random());
        var r = num >> 16;
        var g = num >> 8 & 255;
        var b = num & 255;
        return 'rgb(' + r + ', ' + g + ', ' + b + ')';
    }

    var teamAvgDistanceConfig = {
        labels: [
            /*[# th:each="team, iterStat: ${leaderBoard.teamAvgDistanceMap}"]*/
               "[(${team.key})]"[(${iterStat.last ? '' : ','})]
            /*[/]*/
        ],
        datasets: [{
            data: [
                /*[# th:each="team, iterStat: ${leaderBoard.teamAvgDistanceMap}"]*/
                    [(${team.value})][(${iterStat.last ? '' : ','})]
                /*[/]*/
            ],
            backgroundColor: [
                /*[# th:each="team, iterStat: ${leaderBoard.teamAvgDistanceMap}"]*/
                    random_rgba(),
                /*[/]*/
            ],
        }]
    };

    var teamAvgElevationConfig = {
        labels: [
            /*[# th:each="team, iterStat: ${leaderBoard.teamAvgElevationMap}"]*/
               "[(${team.key})]"[(${iterStat.last ? '' : ','})]
            /*[/]*/
        ],
        datasets: [{
            data: [
                /*[# th:each="team, iterStat: ${leaderBoard.teamAvgElevationMap}"]*/
                    [(${team.value})][(${iterStat.last ? '' : ','})]
                /*[/]*/
            ],
            backgroundColor: [
                /*[# th:each="team, iterStat: ${leaderBoard.teamAvgElevationMap}"]*/
                    random_rgba(),
                /*[/]*/
            ],
        }]
    };

    var teamAvgRidesConfig = {
        labels: [
            /*[# th:each="team, iterStat: ${leaderBoard.teamAvgRidesMap}"]*/
               "[(${team.key})]"[(${iterStat.last ? '' : ','})]
            /*[/]*/
        ],
        datasets: [{
            data: [
                /*[# th:each="team, iterStat: ${leaderBoard.teamAvgRidesMap}"]*/
                    [(${team.value})][(${iterStat.last ? '' : ','})]
                /*[/]*/
            ],
            backgroundColor: [
                /*[# th:each="team, iterStat: ${leaderBoard.teamAvgRidesMap}"]*/
                    random_rgba(),
                /*[/]*/
            ],
        }]
    };

    var msAlemaariChartConfig = {
        labels: [
            /*[# th:each="alemaari, iterStat: ${leaderBoard.msAlemaari}"]*/
                "[(${alemaari.key})]",
            /*[/]*/
        ],
        datasets: [{
            label: 'Distance',
            borderColor: random_rgba(),
            fill: false,
            data: [
                /*[# th:each="alemaari, iterStat: ${leaderBoard.msAlemaari}"]*/
                    [(${alemaari.value})],
                /*[/]*/
            ]
        }]
    };

    var mrAlemaariChartConfig = {
        labels: [
            /*[# th:each="alemaari, iterStat: ${leaderBoard.mrAlemaari}"]*/
                "[(${alemaari.key})]",
            /*[/]*/
        ],
        datasets: [{
            label: 'Distance',
            borderColor: random_rgba(),
            fill: false,
            data: [
                /*[# th:each="alemaari, iterStat: ${leaderBoard.mrAlemaari}"]*/
                    [(${alemaari.value})],
                /*[/]*/
            ]
        }]
    };

    var bettammaChartConfig = {
        labels: [
            /*[# th:each="amma, iterStat: ${leaderBoard.bettamma}"]*/
                "[(${amma.key})]",
            /*[/]*/
        ],
        datasets: [{
            label: 'Elevation Gain',
            borderColor: random_rgba(),
            fill: false,
            data: [
                /*[# th:each="amma, iterStat: ${leaderBoard.bettamma}"]*/
                    [(${amma.value})],
                /*[/]*/
            ]
        }]
    };

    var bettappaChartConfig = {
        labels: [
            /*[# th:each="appa, iterStat: ${leaderBoard.bettappa}"]*/
                "[(${appa.key})]",
            /*[/]*/
        ],
        datasets: [{
            label: 'Elevation Gain',
            borderColor: random_rgba(),
            fill: false,
            data: [
                /*[# th:each="bettappa, iterStat: ${leaderBoard.bettappa}"]*/
                    [(${bettappa.value})],
                /*[/]*/
            ]
        }]
    };

    var minchinaOtammaChartConfig = {
        labels: [
            /*[# th:each="motamma, iterStat: ${leaderBoard.minchinaOtamma}"]*/
                "[(${motamma.key})]",
            /*[/]*/
        ],
        datasets: [{
            label: 'Average Speed',
            borderColor: random_rgba(),
            fill: false,
            data: [
                /*[# th:each="motamma, iterStat: ${leaderBoard.minchinaOtamma}"]*/
                    [(${motamma.value})],
                /*[/]*/
            ]
        }]
    };

    var minchinaOtappaChartConfig = {
        labels: [
            /*[# th:each="motappa, iterStat: ${leaderBoard.minchinaOtappa}"]*/
                "[(${motappa.key})]",
            /*[/]*/
        ],
        datasets: [{
            label: 'Average Speed',
            borderColor: random_rgba(),
            fill: false,
            data: [
                /*[# th:each="motappa, iterStat: ${leaderBoard.minchinaOtappa}"]*/
                    [(${motappa.value})],
                /*[/]*/
            ]
        }]
    };

    var msThuliMagaChartConfig = {
        labels: [
            /*[# th:each="thuliMaga, iterStat: ${leaderBoard.msThuliMaga}"]*/
                "[(${thuliMaga.key})]",
            /*[/]*/
        ],
        datasets: [{
            label: 'Rides',
            borderColor: random_rgba(),
            fill: false,
            data: [
                /*[# th:each="thuliMaga, iterStat: ${leaderBoard.msThuliMaga}"]*/
                    [(${thuliMaga.value})],
                /*[/]*/
            ]
        }]
    };

    var mrThuliMagaChartConfig = {
        labels: [
            /*[# th:each="thuliMaga, iterStat: ${leaderBoard.mrThuliMaga}"]*/
                "[(${thuliMaga.key})]",
            /*[/]*/
        ],
        datasets: [{
            label: 'Rides',
            borderColor: random_rgba(),
            fill: false,
            data: [
                /*[# th:each="thuliMaga, iterStat: ${leaderBoard.mrThuliMaga}"]*/
                    [(${thuliMaga.value})],
                /*[/]*/
            ]
        }]
    };

    window.onload = function() {
        var ctx4 = document.getElementById('teamAvgDistanceChart').getContext('2d');
        window.myBar = new Chart(ctx4, {
            type: 'bar',
            data: teamAvgDistanceConfig,
            options: {
                maintainAspectRatio: false,
                responsive: true,
                legend: {
                    display: false,
                },
                title: {
                    display: true,
                    text: 'Average Distance Per Rider (km)'
                }
            }
        });

        var ctx5 = document.getElementById('teamAvgElevationChart').getContext('2d');
        window.myBar = new Chart(ctx5, {
            type: 'bar',
            data: teamAvgElevationConfig,
            options: {
                maintainAspectRatio: false,
                responsive: true,
                legend: {
                    display: false,
                },
                title: {
                    display: true,
                    text: 'Average Elevation Per Rider (mts)'
                }
            }
        });

        var ctx6 = document.getElementById('teamAvgRidesChart').getContext('2d');
        window.myBar = new Chart(ctx6, {
            type: 'bar',
            data: teamAvgRidesConfig,
            options: {
                maintainAspectRatio: false,
                responsive: true,
                legend: {
                    display: false,
                },
                title: {
                    display: true,
                    text: 'Average Rides Per Rider'
                }
            }
        });

        var ctx7 = document.getElementById('msAlemaariChart').getContext('2d');
        window.myLine = Chart.Line(ctx7, {
            data: msAlemaariChartConfig,
            options: {
                maintainAspectRatio: false,
                responsive: true,
                hoverMode: 'index',
                stacked: false
            }
        });

        var ctx8 = document.getElementById('mrAlemaariChart').getContext('2d');
        window.myLine = Chart.Line(ctx8, {
            data: mrAlemaariChartConfig,
            options: {
                maintainAspectRatio: false,
                responsive: true,
                hoverMode: 'index',
                stacked: false
            }
        });

        var ctx9 = document.getElementById('bettammaChart').getContext('2d');
        window.myLine = Chart.Line(ctx9, {
            data: bettammaChartConfig,
            options: {
                maintainAspectRatio: false,
                responsive: true,
                hoverMode: 'index',
                stacked: false
            }
        });

        var ctx10 = document.getElementById('bettappaChart').getContext('2d');
        window.myLine = Chart.Line(ctx10, {
            data: bettappaChartConfig,
            options: {
                maintainAspectRatio: false,
                responsive: true,
                hoverMode: 'index',
                stacked: false
            }
        });

        var ctx11 = document.getElementById('minchinaOtammaChart').getContext('2d');
        window.myLine = Chart.Line(ctx11, {
            data: minchinaOtammaChartConfig,
            options: {
                maintainAspectRatio: false,
                responsive: true,
                hoverMode: 'index',
                stacked: false
            }
        });

        var ctx12 = document.getElementById('minchinaOtappaChart').getContext('2d');
        window.myLine = Chart.Line(ctx12, {
            data: minchinaOtappaChartConfig,
            options: {
                maintainAspectRatio: false,
                responsive: true,
                hoverMode: 'index',
                stacked: false
            }
        });

        var ctx13 = document.getElementById('msThuliMagaChart').getContext('2d');
        window.myLine = Chart.Line(ctx13, {
            data: msThuliMagaChartConfig,
            options: {
                maintainAspectRatio: false,
                responsive: true,
                hoverMode: 'index',
                stacked: false
            }
        });

        var ctx14 = document.getElementById('mrThuliMagaChart').getContext('2d');
        window.myLine = Chart.Line(ctx14, {
            data: mrThuliMagaChartConfig,
            options: {
                maintainAspectRatio: false,
                responsive: true,
                hoverMode: 'index',
                stacked: false
            }
        });
    };

</script>

</body>
</html>
