<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="Events by VeloKofi"/>
    <meta name="author" content="manjax@velokofi.com"/>
    <title>Pledge 4044 in 2022: VeloKofi Events</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/litepicker/dist/css/litepicker.css" rel="stylesheet"/>
    <link href="css/styles.css" rel="stylesheet"/>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.png"/>
    <script data-search-pseudo-elements defer
            src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js"
            crossorigin="anonymous"></script>
</head>
<body class="nav-fixed sidenav-toggled">

<div th:replace="topbar :: topbar"></div>

<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <main>
            <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
                <div class="container-xl px-4">
                    <div class="page-header-content pt-4">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-auto mt-4">
                                <h1 class="page-header-title">
                                    <div class="page-header-icon"><i data-feather="activity"></i></div>
                                    Pledge 4044 in 2022
                                </h1>
                                <div class="page-header-subtitle">
                                    Beloved members of the VeloKofi tribe, have pledged to pedal a
                                    significant distance of 4044 kilometers in the calendar year of 2022!
                                </div>
                            </div>
                        </div>
                        <nav class="mt-4 rounded" aria-label="breadcrumb">
                            <ol class="breadcrumb px-3 py-2 rounded mb-0">
                                <li class="breadcrumb-item">Home</li>
                                <li class="breadcrumb-item active">Pledge 4044 in 2022</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </header>
            <!-- Main page content-->
            <div class="container-xl px-4 mt-n10">
                <div class="card mb-4">
                    <div class="card-header">Member List</div>
                    <div class="card-body">
                        <table id="athleteStatisticsSummaryTable">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Year To Date Distance</th>
                                <th>Progress</th>
                                <th>Status</th>
                                <th>All Time Distance</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Year To Date Distance</th>
                                <th>Progress</th>
                                <th>Status</th>
                                <th>All Time Distance</th>
                            </tr>
                            </tfoot>
                            <tbody>
                                <tr th:each="activityStatisticsSummary: ${activityStatisticsSummaries}">
                                    <td><span th:text="${activityStatisticsSummary.athleteName}"></span></td>
                                    <td><span th:text="${activityStatisticsSummary.ytdDistance}"></span></td>
                                    <td th:if="${activityStatisticsSummary.percentComplete >= 1.0}">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
                                                 th:attr="style='width: ' + ${activityStatisticsSummary.percentCompleteString} + '%'">
                                            </div>
                                        </div>
                                    </td>
                                    <td th:if="${activityStatisticsSummary.percentComplete < 1.0}">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar"
                                                 th:attr="style='width: ' + ${activityStatisticsSummary.percentCompleteString} + '%'">
                                            </div>
                                        </div>
                                    </td>
                                    <td th:if="${activityStatisticsSummary.percentComplete >= 1.0}">
                                        <div class="badge bg-success rounded-pill">Completed</div>
                                    </td>
                                    <td th:if="${activityStatisticsSummary.percentComplete < 1.0}">
                                        <div class="badge bg-warning rounded-pill">Pending</div>
                                    </td>
                                    <td><span th:text="${activityStatisticsSummary.allTimeDistance}"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <div th:replace="footer :: footer"></div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="js/datatables/datatables-simple-demo.js"></script>

</body>
</html>
