<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body th:fragment="topbar">

<nav class="topnav navbar navbar-expand shadow justify-content-between justify-content-sm-start navbar-light bg-white"
     id="sidenavAccordion">
    <!-- Navbar Brand-->
    <!-- * * Tip * * You can use text or an image for your navbar brand.-->
    <!-- * * * * * * When using an image, we recommend the SVG format.-->
    <!-- * * * * * * Dimensions: Maximum height: 32px, maximum width: 240px-->
    <a class="navbar-brand pe-3 ps-4 ps-lg-2" href="/">
        <img src="assets/img/logo.png" style="width:135px;height:auto;"/>
    </a>
    <!-- Navbar Items-->
    <ul class="navbar-nav align-items-center ms-auto">
        <!-- User Dropdown-->
        <li class="nav-item dropdown no-caret dropdown-user me-3 me-lg-4" th:if="${session.athleteProfile == null}">
            <button class="btn btn-danger" onclick="location.href='/oauth2/authorization/strava'">
                <i class="fab fa-strava"></i>
                <span>
                    &nbsp;&nbsp;Login
                </span>
            </button>
        </li>
        <li class="nav-item dropdown no-caret dropdown-user me-3 me-lg-4" th:if="${session.athleteProfile != null}">
            <a aria-expanded="false" aria-haspopup="true"
               class="btn btn-icon btn-transparent-dark dropdown-toggle" data-bs-toggle="dropdown" href="javascript:void(0);"
               id="navbarDropdownUserImage" role="button">
                <img class="img-fluid" th:src="${session.athleteProfile.profile_medium}"/>
            </a>
            <div aria-labelledby="navbarDropdownUserImage"
                 class="dropdown-menu dropdown-menu-end border-0 shadow animated--fade-in-up">
                <h6 class="dropdown-header d-flex align-items-center">
                    <img class="dropdown-user-img" th:src="${session.athleteProfile.profile_medium}"/>
                    <div class="dropdown-user-details">
                        <div class="dropdown-user-details-name"
                             th:text="${session.athleteProfile.firstname + ' ' + session.athleteProfile.lastname}"/>
                    </div>
                </h6>
            </div>
        </li>
    </ul>
</nav>

</body>

</html>